.about {
    display: flex;
    justify-content: center; /* Center horizontally */
    flex-direction: column;
    align-items: center; /* Center vertically */
    height: 100vh; Optional: Set the container height to the viewport height for vertical centering;
    margin-top: 20px;
    padding: 50px;
  }

  .team{
    width: 100%;
    height: 900px;
    text-align: center;
    background-color: #e1e1e1;
    padding: 50px;
    
  }
  .c{
    margin-left: 20%;
    margin-top: 5%;
  }

  .t{
    padding-top: 3%;
    text-align: center;
  }
  

.roominfo{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.room-rates {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}


  